.container_about_me {
    display    : flex;
    align-items: center;
}

.perfilImgContainer {
    width          : 40%;
    margin         : 40px 0 20px 0;
    display        : flex;
    justify-content: space-evenly;
}

.perfilImg {
    border-radius: 50%;
    object-fit   : cover;
}

.perfil_description {
    width    : 60%;
    font-size: 24px;
}

.description {
    margin: 40px;
}

.title_center {
    text-align   : center;
    font-size    : larger;
    margin-bottom: 4rem;
    padding-top  : 2rem;
}

.content_skills ul {
    list-style-type: none;
    display        : flex;
    flex-direction : row;
    justify-content: space-around;
    flex-wrap      : wrap;
}

.facebook {
    margin-left: 2.2rem;
}

.after_facebook {
    margin-left: 1.5rem;
}

.container_estudios {
    display: flex;
}

.container {
    width: 50%;
}

.tecsup {
    display        : flex;
    flex-direction : column;
    justify-content: space-around;
    align-items    : center;
}

@media screen and (max-width: 768px) {

    .container_about_me {
        flex-direction: column;
    }

    .perfil {
        display        : flex;
        justify-content: space-evenly;
        width          : 100%;
    }

    .perfil_description {
        width: 100%;
    }

    .container_estudios {
        flex-direction: column;
    }

    .container{
        width: 100%;
    }
}